* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    
}

body{
    background-image: url("https://img.freepik.com/free-photo/artistic-blurry-colorful-wallpaper-background_58702-8637.jpg?w=740&t=st=1697674701~exp=1697675301~hmac=456a3f9c89dc81a558f643dd908546429c434f9b9525658fcc0d4230cc931ad5");
    background-size: 100% 100%;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

/* Master */
#master {
    background-color: white;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 700px;
    border-radius: 30px;
    padding-bottom: 4rem;
    margin: 20px;
    box-shadow: 10px 20px 20px 5px rgba(0, 0, 0, 0.342);

}
#header {
    margin-top: 1rem;
    margin-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#header img{
    width: 350px;
    
}

#page-content {
    margin-inline: 1rem;
}
